@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


.User_mypage_info_Leftbar {
  float: left;
  width: 250px;
  height: 100%;
  max-width: 360;
  position: fixed;
  left: 0px;
  top:calc(30%-25px);
}
.mypageTitle_Leftbar {  
  margin: 15px auto 10px 40px;
}

.mypageTitle_Leftbar b{
  font-family: 'Saira Condensed', sans-serif;
  color:black;
  font-size: 15pt;
}

.mypageListName_Leftbar span{
  font-family: 'Nanum Gothic', sans-serif;
  color:black;
  margin-left: 30px;
  padding-top: 30px;
}
.mypageListName_Leftbar span:hover{
  color: #3C99B7;
}

.mypageListName_Leftbar > li
{
  cursor: pointer;
}

.mypageListName li {
  width: 100%;
  margin-top: 15px; 
}

