@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');


.hr-sect {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20pt;
  display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

.mypageContent {
  width: 700px;
  position: absolute;
  margin-left: 40%;

}